<header>
      <nav class = "navbar">
        <div class = "container">
          <a href = "index.html" class = "navbar-brand">Blog</a>
          <div class = "navbar-nav">
            <a href = "">home</a>
            <a href = "">design</a>
            <a href = "">blog</a>
            <a href = "">about</a>
          </div>
        </div>
      </nav>
      <div class = "banner">
        <div class = "container">
          <h1 class = "banner-title">
            <span>BL</span> OG
          </h1>
          <p>everything that you want to know about art & design</p>
          <form>
            <input type = "text" class = "search-input" placeholder="find blogs . . .">
            <button type = "submit" class = "search-btn">
              <i class = "fas fa-search"></i>
            </button>
          </form>
        </div>
      </div>
</header>